<!--The content below is only a placeholder and can be replaced.-->
<div class="header">

  <nav>
    <div class="topnavA">
        <a routerLink="https://twitter.com/login?lang=en" routerLinkActive="active">Twitter</a>
        <a routerLink="https://www.facebook.com/" routerLinkActive="active">Facebook</a>
        <a routerLink="/lastupdates" routerLinkActive="active">Last Updates</a>
        <a routerLink="/aboutus" routerLinkActive="active">About Us</a>
        <a routerLink="/userinformation" routerLinkActive="active">Log In</a>
    </div>
  </nav>


  <div style="text-align:left">
  <h1>
    Gazetteizer   
  </h1>

</div>
<nav>
  <div class="topnavB">
      <a routerLink="/home" routerLinkActive="active"><img src="home.png"> </a>
      <a routerLink="/govgazette" routerLinkActive="active">Goverment Gazette</a>
      <a routerLink="/jobvacancies" routerLinkActive="active">Job Vacancies</a>
      <a routerLink="/tenders" routerLinkActive="active">Tenders</a>
  </div>
</nav>
</div>
<router-outlet></router-outlet>


